<!-- <p>login works!</p>
<div class="absolute inset-0 w-full h-full object-cover">
    <img src="https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg">
</div>
<div class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80">
    <h1 class="font-bold text-3xl py-4">Sign In</h1>
</div> -->

<div class="login-container">
    <h1>Welcome to the Application</h1>
    <p>Please log in using Google.</p>
    <a href="http://localhost:5000/auth/google">
        <button>Login with Google</button>
    </a>
</div>
  