<app-nav></app-nav>
<form [formGroup]="profileForm" (ngSubmit)="onSave()">
  <label>
    Given Name:
    <input type="text" formControlName="givenName" />
  </label>
  <label>
    Family Name:
    <input type="text" formControlName="familyName" />
  </label>
  <label>
    Email:
    <input type="email" formControlName="email" />
  </label>
  <label>
    Address:
    <input type="address" formControlName="address" />
  </label>
  <label>
    Payment Method:
    <input type="paymentMethod" formControlName="paymentMethod" />
  </label>
  <button type="submit">Save</button>
</form>
